body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 60px;
    font-weight: 600;
    margin: 0; /* Remove default margin */
}


h2 {
    font-family: 'Italiana', serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0; /* Remove default margin */
}

a {
    text-decoration: none;
}

.about-container {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    max-width: 900px;
    text-align: center;
    padding: 10px;
    border: none;
    background: none;
    word-wrap: break-word;
    margin: 0 auto; /* Center the "About" section horizontally */
}

.projects-container {
    position: absolute;
    top: 100vh; /* Move it down by the height of the viewport */
    padding: 20px;
    max-width: 50%; /* Ensure it takes up the full width */
    overflow-y: auto; /* Add vertical scroll if content exceeds the screen height */
    max-height: 200vh; /* Set a maximum height to prevent it from extending too far */
    text-align: left;
    border: none;
    margin: 0 auto; /* Center the "About" section horizontally */
}

.project {
    display: flex; /* Arrange image and details in a row */
    align-items: flex-start;
    margin-bottom: 50px;
}

.project-details {
    flex-grow: 1; /* Allow the details to grow and fill available space */
}

.project-details a {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.projects-button {
    display: inline; /* Display as inline to remove the box */
    color: black; /* Text color */
    font-size: 20px;
    font-family: 'Italiana', serif; /* Specify the desired font */
    font-weight: bold; /* Make the text bold */
    text-decoration: none;
    margin: 40px auto; /* Adjust the margin to position the button */
}

.project-image {
    width: 300px; /* Set the width of the image as desired */
    height: 300px; /* Set the height of the image as desired */
    margin-right: 20px;
}

.project-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



/*
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Italiana', sans-serif;
*/