body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 60px;
    font-weight: 600;
    margin: 0; /* Remove default margin */
}

.about-box {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    width: 700px;
    text-align: center;
    padding: 10px;
    border: none;
    background: none;
    word-wrap: break-word;
}





/*
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Italiana', sans-serif;
*/