body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: black;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}


h2 {
    font-family: 'Italiana', serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

a {
    text-decoration: none;
}

.contact-info a:not(:last-child) {
    margin-right: 6px;
}


.about-container {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    max-width: 900px;
    text-align: center;
    padding: 10px;
    border: none;
    background: none;
    word-wrap: break-word;
    margin: 0 auto;
}

.projects-container {
    position: absolute;
    top: 100vh;
    padding: 20px;
    max-width: 50%;
    overflow-y: auto;
    max-height: 200vh;
    text-align: left;
    border: none;
    margin: 0 auto;
}

.project {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.project-details {
    flex-grow: 1;
}

.project-details a {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.projects-button {
    display: inline;
    color: black;
    font-size: 20px;
    font-family: 'Italiana', serif;
    font-weight: bold;
    text-decoration: none;
    margin: 40px auto;
}

.project-image {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.project-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.cat-info {
    position: fixed;
    bottom: 3px;
    right: 3px;
    text-align: center;
}

.cat-info p {
    margin-bottom: 5px;
    font-size: 12px;
}

.cat-info img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Italiana', sans-serif;
*/