@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px; /* Base font size */
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
    margin: 0;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the body covers at least the viewport height */
}

h1, h2, h3 {
    color: #111111;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 10px;
    color: #4361ee;
}

h2 {
    font-size: 1.1em;
    font-weight: 400;
}

h3 {
    font-size: 1.1em;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px; /* Ensure there's padding on the sides */
    margin: 0 auto; /* Center the container */
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the spacing between items */
    margin: 0; /* Remove default margin */
    padding: 10px 0; /* Add padding to control spacing */
    position: fixed; /* Fix the position to the top of the page */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    background-color: #ffffff; /* Background color to cover content beneath */
    z-index: 1000; /* Ensure it stays above other content */
}

.navigation a {
    color: #000000;
    font-size: 20px;
    text-decoration: none; /* Remove default underline */
    font-weight: 500; /* Optional: make the text slightly bolder */
    position: relative; /* Required for positioning the pseudo-element */
    transition: color 0.3s ease; /* Smooth transition for text color change */
}

.navigation a::after {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning relative to the link */
    left: 0;
    bottom: -2px; /* Space between text and underline */
    width: 100%;
    height: 3px; /* Adjust thickness of the underline */
    background-color: #4361ee; /* Underline color */
    transform: scaleX(0); /* Initially hide the underline */
    transform-origin: bottom right; /* Scale from the right */
    transition: transform 0.3s ease; /* Smooth transition for the underline */
}

.navigation a:hover::after {
    transform: scaleX(1); /* Show underline on hover */
    transform-origin: bottom left; /* Scale from the left */
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjusted gap for spacing */
    margin: 20px 0; /* Adjusted margin */
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow-x: auto; /* Allow horizontal scrolling if content overflows */
}

.project {
    padding: 20px; /* Space inside the container */
    margin: 20px; /* Space outside the container */
    width: 100%; /* Width of the project container */
    max-width: 900px; /* Maximum width */
}

.project h2 {
    color: #111111; /* Dark color for the title */
    font-size: 1.7em; /* Adjust the title font size */
    margin-top: 0; /* Remove top margin */
    font-weight: 600;
}

.project p {
    margin: 10px 0; /* Space above and below each paragraph */
}

.project .tech-list {
    color: #888888; /* Dark grey color for technologies */
    font-size: 16px; /* Adjust font size */
    margin: 10px 0; /* Space above and below the technology list */
}

.page-image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-image img {
    width: 341px;
    height: auto;
    border-radius: 70%;
}





/*.cat-info {*/
/*    position: fixed;*/
/*    bottom: 15px;*/
/*    left: 20px;*/
/*    text-align: center;*/
/*}*/

/*.cat-info p {*/
/*    margin-bottom: 5px;*/
/*    font-size: 12px;*/
/*}*/

/*.cat-info img {*/
/*    width: 90px;*/
/*    height: 90px;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*}*/
